.time{
    width: 100% !important
}

.MuiTabs-flexContainer-111{
    min-height: 80px;
}
.MuiPickersModal-dialogRoot-20{
    overflow: hidden !important
}
.MuiPickersCalendarHeader-switchHeader-206{
    margin-bottom: 15px
}
.MuiInput-input-15{
    color:white !important
}